# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info
venv/
.venv/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Bytecode and logs
*.log
*.tmp
*.bak

# Docker
*.pid
*.tar
